@import url("http://fonts.cdnfonts.com/css/graphik");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--primaryRed: #e7332b;
	--texts: #454447;
	--PrimaryGreen: #4abc83;
	--BgColor: #fffdf5;
	--accordionBorder: #afa3bc;
	--headings: #212026;
	--navBg: #fffdf5;
}

body {
	/* font-family: "Plus Jakarta Sans", sans-serif; */
	font-family: "Graphik", sans-serif;
}

.container {
	width: 87%;
	margin: 0 auto;
	padding-top: 5rem;
}

a {
	cursor: pointer;
	text-decoration: none;
	font-weight: 600;
}

/* Header */

header {
	padding: 1rem;
	position: fixed;
	top: 0;
	left: 0%;
	right: 0;
	z-index: 1;
	background-color: white;
}

.navbar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	display: none;
}

.header-logo {
	width: 47%;
	margin-top: 0.5rem;
}

.main-logo {
	width: 100%;
}

.lollipop {
	position: relative;
	width: 40%;
	margin-right: 0.9rem;
}

.circle {
	width: 40%;
	background-color: var(--primaryRed);
	padding: 0.5rem;
	shape-outside: circle();
	clip-path: circle();
}

.circle img {
	width: 100%;
	margin-top: 0.2rem;
}

.pill-link {
	position: absolute;
	padding: 0.8rem 1rem;
	padding-left: 1.5rem;
	background-color: var(--primaryRed);
	width: 90%;
	text-align: center;
	border-radius: 30px;
	color: white;
	font-weight: 500;
	font-size: 1rem;
	top: 15%;
	left: 20%;
	z-index: -1;
}

/* Hero-section */
.hero-section {
	display: flex;
	flex-direction: column;
}

.left-img {
	margin-top: 2rem;
}
.left-img img,
.right-img img {
	width: 100%;
}

.hero-arrow,
.sm-img,
.right-img {
	display: none;
}

.hero-text {
	width: 100%;
	padding-bottom: 6rem;
	background-image: url("/images/training.zuri.team/svgexport-3.svg");
	background-size: 50px;
	background-repeat: no-repeat;
	background-position: 78% 92%;
}

.hero-txt1 {
	text-align: center;
	color: var(--primaryRed);
	font-weight: 500;
	font-size: 1.16rem;
	margin-bottom: 1rem;
}

.hero-heading {
	width: 100%;
	font-size: 1.7rem;
	text-align: center;
	font-weight: 600;
	padding-bottom: 2.5rem;
	background-image: url("../images/training.zuri.team/svgexport-2.svg");
	background-repeat: no-repeat;
	background-size: 105px;
	background-position: 85% 73%;
}

.hero-txt2 {
	text-align: center;
	color: #454447;
	font-size: 0.95rem;
	padding: 0 0.8rem;
	line-height: 1.3;
	margin-bottom: 2.5rem;
}

.hero-cta-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-cta {
	padding: 0.7rem 1.5rem;
	text-align: center;
	border-radius: 50px;
	color: white;
	background-color: var(--primaryRed);
}

/* About */
#about {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.35);
	border-top: 1px solid rgba(0, 0, 0, 0.35);
	border-top: 0.1px solid (0, 0, 0, 0.35);
	padding: 2rem 0;
}

.left p {
	font-weight: 600;
	font-size: 1.25rem;
}

.center {
	width: 60%;
	margin: 0 auto;
}

.center img {
	width: 100%;
	margin: 1rem 0;
}

.right p {
	font-size: 1.15rem;
	text-align: center;
	line-height: 1.4;
	color: #454447;
}

.read-more {
	color: var(--PrimaryGreen);
	text-decoration: underline;
}

/* why-us */
#why-us {
	width: 100% !important;
	background-color: linear-gradient(
		180deg,
		rgba(255, 244, 240, 0),
		#fff4f0 17.19%,
		#fff4f0 84.37%,
		rgba(255, 244, 240, 0)
	) !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5rem 0;
	padding-bottom: 3rem;
	background-image: url("../images/training.zuri.team/svgexport-5.svg");
	background-repeat: no-repeat;
	background-size: 50px;
	background-position: 48% 16%;
	margin: 0 !important;
}

.why-us__text p {
	color: var(--primaryRed);
	font-size: 1.1rem;
}

.why-us__text h2 {
	line-height: 1.4;
	font-weight: 600;
	margin-top: 0.4rem;
}

.why-us__img {
	display: none;
}

/* why-us cards */
.cards {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 6rem;
	background: rgb(255, 253, 245);
}

.card-container {
	padding: 4rem 3rem 4rem 2.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 20px;
	margin-bottom: 1.5rem;
}

.red {
	background-color: var(--primaryRed);
	color: white;
	box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
	background-image: url("/images/training.zuri.team/curvewhite.png");
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: top right;
}

.red-txt {
	line-height: 1.4;
	font-size: 1.1rem;
	padding-right: 1.5rem;
}

.white {
	border-radius: 20px;
	background-color: white;
	box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
}

.red:hover,
.white:hover {
	transform: translate3d(0px, -16px, 0px);
}

.white1 {
	background-image: url("/images/training.zuri.team/svgexport-6.svg");
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: top right;
}
.white2 {
	background-image: url("/images/training.zuri.team/svgexport-7.svg");
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: top right;
}
.white3 {
	background-image: url("/images/training.zuri.team/svgexport-8.svg");
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: top right;
}
.white4 {
	background-image: url("/images/training.zuri.team/svgexport-9.svg");
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: top right;
}
.white5 {
	background-image: url("/images/training.zuri.team/svgexport-10.svg");
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: top right;
}

.card-container h1 {
	font-size: 2.75rem;
	font-weight: 600;
}

.white p:nth-child(3) {
	color: #454447;
	line-height: 1.4;
	font-size: 1.1rem;
	padding-right: 1.5rem;
}

.middle-txt {
	margin: 2rem 0;
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.3;
}

/* help */
.help-section {
	background-color: var(--primaryRed);
	width: 100%;
}

.help-container {
	padding: 6rem 0;
	background-image: url("../images/training.zuri.team/svgexport-11.svg"),
		url("../images/training.zuri.team/svgexport-16.svg");
	background-repeat: no-repeat, no-repeat;
	background-size: 55px, 40px;
	background-position: 54% 5%, 5% 96.5%;
}

.help-text {
	font-size: 1.1rem;
	color: white;
	display: flex;
	flex-direction: column;
	line-height: 1.3;
}

.help-text__bold {
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.3;
	padding-right: 1rem;
	margin-bottom: 2rem;
}

.help-left p {
	font-weight: 400;

	padding-right: 1rem;
}

.white-cta-pill {
	padding: 0.7rem 1.7rem;
	text-align: center;
	border-radius: 50px;
	color: var(--primaryRed);
	font-weight: 400;
	background-color: white;
}

.help-cta {
	width: 100%;
	padding: 3rem 0;
}

.pills {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.pill {
	display: flex;
	align-items: center;
	width: 47%;
	border: 2px solid white;
	border-radius: 50px;
	padding: 0.7rem;
	margin-bottom: 1rem;
}

.pill p {
	font-size: 0.75rem;
	padding: 0 0.8rem;
	padding-right: 0;
}

.pill img {
	width: 32px;
}

.help-right {
	width: 100%;
	margin-top: 1rem;
}

.help-right img {
	width: 100%;
}

/* Scope of program */

.scope {
	background: linear-gradient(
		180deg,
		rgba(255, 244, 240, 0),
		#fff4f0 17.19%,
		#fff4f0 84.37%,
		rgba(255, 244, 240, 0)
	) !important;
	padding: 1rem 0 6rem 0;
}

.scope-text {
	padding-bottom: 8.5rem;
	background-image: url("../images/training.zuri.team/svgexport-17.svg");
	background-repeat: no-repeat;
	background-size: 45%;
	background-position: 50% 100%;
}

.scope-text p {
	color: var(--primaryRed);
	font-weight: 400;
	margin-bottom: 0.5rem;
	font-size: 1.1rem;
}

.scope-heading {
	font-weight: 600;
	line-height: 1.3;
}

.scope-cta-pill {
	padding: 0.7rem 1.5rem;
	text-align: center;
	border-radius: 50px;
	color: white;
	background-color: var(--primaryRed);
}

.scope-cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.scope-card-container {
	border-radius: 30px;
	background-color: white;
	box-shadow: 0 11px 22px rgb(231 51 43 / 10%) !important;
	padding: 3rem 3rem 5rem 2.5rem;
	margin-bottom: 1.5rem;
}

.scope-card-container h3 {
	font-size: 1.3rem;
	font-weight: 500;
}

.scope-p {
	line-height: 1.3;
	color: #454447;
}

.languages {
	display: flex;
	width: 100%;
	margin: 1.5rem 0 2rem 0;
}

.language {
	width: 14%;
	margin-right: 0.8rem;
}

.img-corr-one {
	width: 28%;
}

.img-corr-two {
	width: 28%;
}

.img-corr-four {
	width: 20%;
}

.scope-cta {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3.5rem;
}

.scope-cta-pill {
	font-size: 1.1rem;
	font-weight: 400;
}

/* FAQs */
#FAQ {
	border-bottom: 1px solid rgba(0, 0, 0, 0.35);
	border-top: 1px solid rgba(0, 0, 0, 0.35);
	padding: 6rem 0 3rem 0;
	background-image: url("../images/training.zuri.team/svgexport-31.svg");
	background-repeat: no-repeat;
	background-size: 21%;
	background-position: 15% 6%;
}

.faq-txt {
	color: var(--primaryRed);
	text-align: center;
	font-weight: 500;
	font-size: 1.1rem;
}

.faq-heading {
	margin-bottom: 4rem;
	margin-top: 0.5rem;
	font-weight: 500;
	padding: 0 0.5rem;
}

.accordion {
	width: 100%;
	padding: 2rem 3rem 2rem 1rem;
	border: 0.05px solid #454447 !important;
	font-size: 1rem;
	text-align: left;
	font-family: inherit;
	position: relative;
	outline: none;
	cursor: pointer;
	font-weight: 600;
}

details p {
	margin-top: 1rem;
	font-weight: 500;
	font-size: 0.8rem;
	border-top: 2px dotted black;
	padding-top: 1rem;
}

summary {
	list-style-type: none;
}

.close {
	font-size: 1.5rem;
	font-weight: 500;
	position: absolute;
	top: 2rem;
	right: 5%;
}

.padded {
	padding-right: 3rem !important;
}

.close:hover {
	transform: rotateX(360deg);
}

.twitter-cta-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.twitter-cta {
	padding-bottom: 0.5rem;
	padding-left: 0.8rem;
	padding-right: 0.9rem;
}

.twitter-cta img {
	vertical-align: middle;
	margin-right: 0.3rem;
	padding-bottom: 0.2rem;
}

.faq-twitter {
	margin-top: 2rem;
	text-align: center;
}

/* Program Structure */
#program {
	text-align: center;
	padding: 4rem 1.5rem;
	width: 100%;
	margin: 0 !important;
	background-color: linear-gradient(
		180deg,
		rgba(255, 244, 240, 0),
		#fff4f0 17.19%,
		#fff4f0 84.37%,
		rgba(255, 244, 240, 0)
	) !important;
	background-image: url("../images/training.zuri.team/svgexport-31.svg"),
		url("../images/training.zuri.team/svgexport-34.svg"),
		url("../images/training.zuri.team/red-dots.png");
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: 70px, 40px, 150px;
	background-position: 16% 2%, 93% 2%, 100% 97%;
}

.program-smheading {
	color: var(--primaryRed);
	font-size: 1.1rem;
	font-weight: 500;
}

.program-heading {
	margin-bottom: 1.5rem;
	font-weight: 500;
}

.program-txt {
	margin-bottom: 4rem;
}

.program-cards {
	display: flex;
	flex-direction: column;
	background-color: linear-gradient(
		180deg,
		rgba(255, 244, 240, 0),
		#fff4f0 17.19%,
		#fff4f0 84.37%,
		rgba(255, 244, 240, 0)
	) !important;
}

.program-card {
	color: white;
	background-color: #1b1a20;
	padding: 4rem 2.5rem;
	text-align: left;
	border-radius: 60px;
	margin-bottom: 2rem;
	box-shadow: 0 31px 60px rgba(231, 51, 43, 0.2) !important;
}

.program-card h2 {
	font-size: 2rem;
	margin-bottom: 1.5rem;
}

.program-card p {
	font-size: 0.97rem;
}

.list {
	margin-top: 1.5rem;
}

.list p {
	font-weight: 600;
	margin-bottom: 0.5rem;
	font-size: 1rem;
}

.list li {
	margin-left: 1.2rem;
	line-height: 1.5;
	font-weight: 500;
}

.list li img {
	width: 75%;
	cursor: pointer;
}

.p-c-left {
	background-image: url("../images/training.zuri.team/hour-glass.png");
	background-repeat: no-repeat;
	background-size: 70px;
	background-position: 90% 91.5%;
}

.p-c-right {
	background-image: url("../images/training.zuri.team/time.png");
	background-repeat: no-repeat;
	background-size: 110px;
	background-position: 90% 90%;
}

#info1,
.info-btn {
	background: transparent;
	border: none;
	margin-left: 5px;
	cursor: pointer;
}

/* modal style */
#modal-container,
.modal-container-Two,
.modal-container-Three,
.modal-container-Four {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.304);
	z-index: 2;
}

.modal-container-Two,
.modal-container-Three,
.modal-container-Four {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.304);
	z-index: 2;
}

.modal-heading {
	display: flex;
}

.modal-heading-txt {
	font-size: 1.3rem;
	line-height: 1.4;
}

.modal-mid-text {
	font-size: 1.1rem;
	color: #454447;
}

.modal-text {
	color: #454447;
	line-height: 1.4;
}

#close-btn {
	border: none;
	background: transparent;
	cursor: pointer;
}
#close-btn2 {
	border: none;
	background: transparent;
	cursor: pointer;
}
#close-btn3 {
	border: none;
	background: transparent;
	cursor: pointer;
}
#close-btn4 {
	border: none;
	background: transparent;
	cursor: pointer;
}

.close-btn {
	width: 100%;
	font-weight: 600;
	fill: red;
}

.modal1 {
	opacity: 1 !important;
	width: 90%;
	background-color: white;
	padding: 1rem 1.5rem;
	border-radius: 10px;
	height: 55%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/* get started */
.get-started-container {
	background-color: var(--primaryRed);
	color: white;
	text-align: center;
	padding: 5rem 5rem !important;
	border-radius: 40px;
	background-image: url("../images/training.zuri.team/svgexport-39.svg"),
		url("../images/training.zuri.team/svgexport-40.svg"),
		url("../images/training.zuri.team/svgexport-16.svg"),
		url("../images/training.zuri.team/svgexport-38.svg");
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
	background-size: 90px, 90px, 80px, 70px;
	background-position: top right, bottom left, bottom right, 10% 8%;
}

.get-started-container h2 {
	font-weight: 600;
	margin: 1rem 0 2rem 0;
}

.get-started-cta {
	display: flex;
	justify-content: center;
}

.get-started p {
	font-size: 1.2rem;
}

/* Footer */
.footer-wrapper {
	padding: 6rem 0 2rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.footer-top {
	order: 1;
}
.footer-logo {
	width: 100%;
}

.socials {
	order: 2;
	margin: 1rem 0 0 0;
	width: 45%;
	margin: 1rem auto 0 auto;
	display: flex;
	justify-content: space-between;
}

.footer-bottom {
	display: flex;
	flex-direction: column;
	justify-content: center;
	order: 2;
	display: flex;
}

.sub-links {
	order: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.i4g {
	order: 1;
	width: 100%;
	display: flex;
	justify-content: center;
}

.i4g a {
	margin: 2rem 0 !important;
	color: #454447;
	font-weight: 400;
}
.policy {
	order: 2;
}

.policy a {
	color: #454447;
	font-weight: 400;
}

.copyright {
	order: 2;
	width: 100%;
	color: #454447;
	font-weight: 400;
}

hr {
	width: 90%;
	margin: 3rem auto 1rem auto;
	height: 0.1px !important;
	background-color: #454447;
	order: 3;
}

@media (min-width: 425px) {
	header {
		padding: 0.8rem;
	}

	.circle {
		width: 35%;
	}

	.pill-link {
		width: 80%;
		top: 20%;
		left: 17%;
		padding: 0.7rem 1rem;
		padding-left: 1.5rem;
	}

	.lollipop {
		margin-right: 0;
	}
	.hero-heading {
		background-position: 68% 73%;
	}

	.hero-text {
		padding-bottom: 7rem;
		background-position: 76% 87%;
	}

	#why-us {
		background-position: 42% 16%;
	}

	.help-container {
		background-position: 49% 5%, 5% 96.5%;
	}

	.language {
		width: 12%;
	}

	.img-corr-one {
		width: 28%;
	}

	.img-corr-two {
		width: 28%;
	}

	.img-corr-four {
		width: 16%;
	}

	#FAQ {
		background-position: 15% 4%;
	}

	#program {
		background-position: 22.5% 2%, 93% 2%, 100% 97%;
	}

	.get-started-container {
		background-size: 90px, 90px, 80px, 75px;
		background-position: top right, bottom left, bottom right, 16% 8%;
	}

	.get-started-container h2 {
		padding: 0 1rem;
		line-height: 1.3;
	}

	.socials {
		width: 40%;
	}
}

/* Tablets */
@media (min-width: 768px) {
	.container {
		width: 90%;
		padding-top: 6rem;
	}
	.navbar {
		width: 90%;
		margin: 0 auto;
	}
	.header-logo {
		width: 40%;
	}

	.lollipop {
		width: 25%;
		margin-right: 0.9rem;
	}

	.left-img {
		width: 76%;
		margin: 0 auto;
	}

	.left-img img {
		width: 100%;
		margin: 0 auto;
	}

	.hero-text {
		padding-bottom: 9rem;
		background-image: url("/images/training.zuri.team/svgexport-3.svg"),
			url("../images/training.zuri.team/svgexport-4.svg");
		background-size: 14%, 8%;
		background-repeat: no-repeat, no-repeat;
		background-position: 68% 92%, 5% 80%;
	}

	.hero-txt1 {
		margin-bottom: 0.5rem;
	}

	.hero-heading {
		font-size: 2.5rem;
		background-size: 23%;
		background-position: 94% 75%;
	}

	.hero-txt2 {
		font-size: 1.2rem;
		padding: 0 6rem;
	}

	.hero-cta {
		padding: 0.7rem 1rem;
		font-size: 1.2rem;
		width: 23%;
		font-weight: 400;
	}

	.center {
		width: 42%;
	}

	.left p {
		font-size: 1.5rem;
	}

	.right p {
		text-align: right;
	}

	#why-us {
		background-size: 15%;
		background-position: 48% 16%;
		padding: 6rem 0;
		padding-bottom: 3rem;
	}

	.cards {
		width: 97%;
		margin: 0 auto;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.card-container {
		width: 48%;
	}

	.middle-txt {
		margin: 1.5rem 0;
		padding-right: 6rem;
	}

	.help-container {
		background-size: 14%, 13%;
		background-position: 70% 3%, 5% 96.5%;
	}

	.help-left {
		display: flex;
	}

	.pill {
		width: 23%;
		margin: 0;
		padding: 0.5rem 0.6rem;
	}

	.help-right {
		width: 70%;
		margin: 0 auto;
		margin-top: 3rem;
	}

	.scope-text {
		padding-bottom: 8.5rem;
		background-size: 27%;
		background-position: 70% 90%;
		width: 70%;
	}

	.scope-cards {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: stretch;
	}

	.scope-card-container {
		margin-top: 1.5rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 48%;
		margin-bottom: 0;
		padding: 3rem;
	}

	#FAQ {
		background-size: 18%;
		background-position: 20% 4%;
	}

	.faq-heading {
		text-align: center;
	}

	.accordion {
		width: 95%;
		margin: 0 auto;
	}

	.twitter-cta {
		width: 35%;
	}

	#program {
		padding-top: 6rem;
		background-size: 15%, 8%, 19%;
		background-position: 27% 4%, 90% 2%, 100% 97%;
	}

	.program-cards {
		flex-direction: row;
		justify-content: space-between;
	}

	.program-card {
		width: 48%;
	}

	.p-c-left {
		background-position: 90% 90.5%;
	}

	.get-started {
		padding-top: 0;
	}

	.get-started-container h2 {
		font-weight: 600;
		font-size: 2.3rem;
		width: 60%;
		margin: 1rem auto 2rem auto;
	}

	/* Footer */
	.footer-wrapper {
		flex-direction: column;
		width: 90%;
		margin: 0 auto;
		justify-content: space-between;
	}

	.footer-top {
		display: flex;
		width: 100%;
		margin-bottom: 2rem;
		justify-content: space-between;
	}
	.footer-logo {
		width: 40%;
	}

	.logo {
		width: 100%;
	}

	.socials {
		margin: 0;
		width: 25%;
	}


	.footer-bottom {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.sub-links {
		width: 50%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.i4g {
		width: 60%;
		display: block;
		text-align: right;
	}

	.policy {
		order: 0;
		width: 60%;
		text-align: right;
	}

	.copyright {
		order: 0;
		width: 50%;
	}

	.copyright p {
		margin-right: 0 !important;
		text-align: left;
	}

	hr {
		display: none;
	}
}

/* Laptop */
@media (min-width: 992px) {
	.header {
		padding: 0 1.5rem;
	}

	.navbar {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.header-logo {
		width: 20%;
	}

	.main-logo {
		width: 100%;
	}
	.navbar {
		padding-left: 1.5rem;
	}
	nav {
		width: 45%;
	}

	nav ul {
		display: flex;
		justify-content: space-between;
		list-style-type: none;
	}

	nav a {
		color: var(--texts);
		font-weight: 400;
		font-size: 1.2rem;
	}

	.lollipop {
		width: 20%;
		margin: 0;
	}

	.circle {
		width: 30%;
	}

	.pill-link {
		width: 70%;
		left: 15%;
		top: 15%;
		padding: 0.8rem 0.4rem 0.8rem 1rem;
	}

	.left-img {
		width: 75%;
	}

	.hero-text {
		margin-top: -4rem;
		background-size: 10%, 5%;
		background-position: 68% 92%, 5% 80%;
	}

	.hero-heading {
		font-size: 3rem;
		background-size: 20%;
		background-position: 88% 77%;
	}

	.hero-cta {
		width: 15%;
	}

	/* About */
	#about {
		flex-direction: row;
		justify-content: space-between;
		padding: 0;
	}

	.left {
		text-align: left;
		width: 31%;
	}

	.left p {
		font-size: 1.2rem;
	}

	.center {
		width: 30%;
	}

	.center img {
		margin: 0;
	}

	.right {
		text-align: right;
		width: 31%;
	}

	/* Why-us */

	#why-us {
		flex-direction: row;
		justify-content: space-between;
		background-size: 8%;
		background-position: 48% 16%;
	}

	.why-us__text {
		width: 55%;
	}

	.why-us__text h2 {
		font-size: 1.9rem;
		line-height: 1.3;
	}

	.why-us__img {
		display: block;
		width: 20%;
		margin-right: 5rem;
	}

	.why-us__img img {
		width: 100%;
	}

	.cards {
		width: 93%;
		margin-bottom: 8rem;
	}

	.card-container {
		padding-bottom: 4rem;
	}

	.card-container h1 {
		font-size: 3.5rem;
	}

	.middle-txt {
		font-size: 2.5rem;
		padding-right: 4rem;
	}

	.red-middle-text {
		margin: 0;
	}

	.white p:nth-child(3),
	.red-txt {
		line-height: 1.4;
		font-size: 1.2rem;
		padding-right: 1rem;
	}

	/* Help */

	.help-container {
display: flex;
justify-content: space-between;
align-items: center;
background-size: 10%, 5%;
background-position: 54% 5%, 1% 96.5%;
	}

	.help-left {
		width: 45%;
	}

	.help-right {
		width: 45%;
		margin: 0;
	}

	.help-right img {
		width: 100%;
	}

	.pills {
		width: 80%;
	}

	.pill {
		margin-top: 1rem;
		width: 48%;
	}

	/* Scope  */
	.scope-text {
		width: 100%;
		background-size: 20%;
		background-position: 50% 120%;
	}

	.scope-heading {
		font-size: 1.9rem;
	}

	.scope-cta {
		margin-top: 6rem;
	}

	/* FAQs */
	#FAQ {
		background-size: 15%;
	background-position: 18% 5%;
	}

	.faq-heading {
		font-size: 1.7rem;
	}

	.accordion {
		width: 80%;
	}

	.twitter-cta {
		width: 25%;
	}

	/* Program */
	#program {
		padding-bottom: 10rem;
		background-image: url("../images/training.zuri.team/svgexport-31.svg"),
		url("../images/training.zuri.team/svgexport-34.svg"),
		url("../images/training.zuri.team/red-dots.png"), url("../images/training.zuri.team/red-dots.png");
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
		background-size: 15%, 8%, 19%, 7%;
		background-position: 27% 4%, 90% 2%, 100% 90%, 8% 95%;
	}

	.program-heading {
		font-size: 1.7rem;
	}

	.program-cards {
		width: 85%;
		margin: 0 auto;
	}

	.get-started h2 {
		font-size: 3rem;
		padding: 0;
	}
	
	.footer-logo {
		width: 35%;
	}

	.socials {
		width: 20%;
	}

	.sub-links {
		width: 45%;
	}

	.i4g {
		width: 40%;
	}

	
}
