* {
	box-sizing: border-box !important;
	padding: 0;
	margin: 0;
}

/* utilities */
:root {
	--links: #e7332b;
	--headings: #514949;
	--heading: 1.73rem;
	--subHeading: 1.5rem;
	--text: 1rem;
}

a {
	color: var(--links);
	text-decoration: none;
	cursor: pointer;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins", sans-serif;
}
/* Hero-Section */
.hero {
	width: 100%;
	margin: 0;
	padding: 0;
	background-image: url(images/hero-bg.svg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.hero-section {
	width: 100%;
	margin-bottom: 1rem;
	padding: 0.75rem;
	padding-bottom: 2rem;
}

.hero-section__img {
	padding: 6.7rem 7.5rem 6.3rem 7.5rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-section__heading {
	font-size: var(--heading);
	text-align: center;
	font-weight: 500;
	color: var(--headings);
	margin-bottom: 2.3rem;
}

.hero-section__text {
	text-align: center;
	font-size: 0.9rem;
	font-weight: 500;
	color: var(--headings);
	line-height: 1.6;
	margin-bottom: 5.7rem;
	opacity: 0.9;
}

.hero-section__buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 2rem;
}

.hero-section__redbtn {
	width: 58%;
	font-weight: 500;
	color: white;
	background-color: var(--links);
	border: none;
	font-size: 0.9rem;
	padding: 0.8rem 0.6rem;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 2rem;
}

.hero-section__transbtn {
	width: 70%;
	font-weight: 500;
	color: var(--links);
	background-color: white;
	border: 1px solid var(--links);
	padding: 0.8rem 1.5rem;
	margin: 0 auto;
	font-size: 0.9rem;
	text-align: center;
}

.hero-section__redbtn:hover {
	background: transparent;
	border: 1px solid var(--links);
	color: var(--links);
}

.hero-section__transbtn:hover {
	background-color: var(--links);
	border: none;
	color: white;
}

.hero-section__redbtn:active,
.hero-section__transbtn:active {
	border: 2px solid black;
	border-radius: 7px;
}

.hero-section__redbtn:focus,
.hero-section__transbtn:focus {
	border: 2px solid black;
	border-radius: 7px;
	outline: none;
}

a:not(#button):focus {
	border: 2px solid black;
	border-radius: 7px;
	outline: none;
	padding: 0.1rem;
}

/* Mid-Page */

.label {
	width: 100%;
	text-align: center;
	padding-top: 3rem;
}

.label h4 {
	font-size: 0.85rem;
	font-weight: 400;
	color: var(--links);
	margin-bottom: 0.8rem;
}

.label p {
	color: var(--headings);
	font-size: 1.5rem;
	line-height: 1.65;
	padding-bottom: 2rem;
}

/* Cards section */
.cards {
	padding: 0 1.5rem;
	padding-top: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card-container {
	background-color: #fffafa;
	padding: 2.5rem 1.5rem 5rem 2rem;
	margin: 0 0 2rem 0;
	margin-bottom: 2.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	background-color: #fffafa;
}

.card__text {
	line-height: 1.5;
	opacity: 0.9;
	font-size: 1rem;
	color: var(--headings);
	margin-top: 3rem;
	margin-bottom: 1.8rem;
}

.card__links {
	font-size: 1rem;
	font-weight: 400;
}

/* Footer */
footer {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding: 6rem 1rem 2rem 1rem;
	padding-top: 7rem;
	text-align: center;
}

.footer__img {
	margin-bottom: 2rem;
}

.footer__logo {
	width: 150px;
}

.links {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.links h2 {
	margin-bottom: 0.8rem;
	font-weight: 500;
}

.links a {
	margin-bottom: 1.4rem;
}

.links:nth-child(2) {
	margin-bottom: 1rem;
}

.links h2,
.contact h2,
.socials h2 {
	color: var(--headings);
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.contact__heading {
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
	font-weight: 500;
}

address {
	font-style: normal;
	font-weight: 500;
	font-size: 0.87rem;
	color: var(--headings);
	margin-bottom: 1rem;
	padding: 0 4rem;
	line-height: 1.4;
}

.contact:nth-child(3) {
	margin-bottom: 2rem;
	font-size: 0.9rem;
	opacity: 0.9;
}

.socials h2 {
	font-weight: 500;
	margin: 0.5rem 0 0.6rem 0;
}

.social-icons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	margin: 0 auto;
}

.social-icons img {
	width: 70%;
}

hr {
	background-color: var(--headings);
	width: 90%;
	height: 1px;
	margin: 3rem 0 2rem 0;
	opacity: 0.2;
}

footer:nth-last-child(1) {
	font-weight: 600;
	color: var(--headings);
}

.right-img,
.left-img {
	display: none;
}

/* XS screens*/
@media (max-width: 320px) {
	.hero-section {
		padding: 0.6rem;
	}

	.hero-section__text {
		padding: 0 0.2rem;
	}
	.hero-section__redbtn {
		width: 70%;
		padding: 0.85rem 0.5rem;
	}

	.hero-section__transbtn {
		width: 74%;
		padding: 0.8rem 1.7rem;
		font-weight: 500;
	}

	.label {
		margin-top: 7rem;
		padding-top: 7rem;
		padding: 0rem 1rem;
	}

	.label p {
		font-size: 1.35rem;
	}

	.card-container {
		padding-right: 1.5rem;
	}

	.card__text,
	.card__links {
		font-size: 0.9rem;
	}

	footer {
		width: 100%;
		padding-right: 2rem;
		padding-left: 2rem;
	}

	hr {
		bottom: 1rem;
	}

	.links h2,
	.contact__heading {
		font-weight: 500;
		font-size: 1.6rem;
	}

	.socials h2 {
		font-weight: 500;
	}

	address {
		padding: 0;
	}
}

@media (min-width: 575px) {
	.hero-section {
		padding: 2rem 1.8rem 0.75rem 1.8rem;
	}
	hr {
		width: 95%;
	}

	.hero-section__redbtn {
		width: 40%;
	}

	.label {
		padding: 3rem 2rem 0 2rem;
	}

	.card-container {
		text-align: justify;
		padding-right: 2rem;
	}

	.socials {
		width: 80%;
	}

	.social-icons {
		width: 40%;
		margin: 0 auto;
	}

	.social-icons img {
		width: 60%;
	}
}

/* Tablets */
@media (min-width: 768px) {
	.container {
		margin: 0 auto;
	}

	.hero-section__buttons {
		width: 70%;
		margin: 0 auto;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.hero-section__redbtn {
		width: 45%;
		margin: 0;
		padding: 0.7rem 0.8rem;
	}

	.hero-section__transbtn {
		width: 75%;
		padding: 0.6rem 1rem;
	}

	.hero-section {
		padding: 0 3rem;
		padding-bottom: 4rem;
	}

	.label {
		width: 100%;
		margin: 0 auto;
	}

	.label p {
		padding: 0 5.3rem;
	}

	.cards {
		margin-bottom: 4rem;
	}

	.card-container {
		width: 80%;
	}

	.card__text {
		line-height: 1.5;
		opacity: 0.9;
		color: var(--headings);
		margin-top: 3rem;
		margin-bottom: 1.8rem;
		text-align: justify;
	}

	footer {
		width: 95%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		margin: 6rem auto 0rem auto;
		padding: 3rem 1rem 2rem 1rem;
		font-size: 1rem;
		text-align: left;
	}
	.links h2,
	.socials h2,
	.contact h2 {
		font-size: 1rem;
		margin: 0 0 1rem 0;
	}

	.contact {
		width: 20%;
		text-align: left !important;
		align-items: flex-start;
		font-size: 0.8rem;
	}
	footer a {
		font-weight: 400;
	}

	hr {
		display: none;
	}

	address {
		margin: 0;
		margin-bottom: 0.8rem;
		font-weight: 400;
		text-align: left;
		width: 100%;
		padding: 0;
	}

	.links {
		width: 5%;
	}

	.socials {
		width: 15%;
		text-align: left;
		align-items: flex-start;
	}

	.social-icons {
		width: 100%;
		margin: 0;
	}

	.footer__logo {
		width: 100%;
	}
	.footer__img {
		align-items: flex-end;
		width: 15%;
	}
}

/* Medium/Laptops screens */
@media (min-width: 992px) {
	.hero {
		height: 45vh;
	}
	.hero-section {
		width: 70%;
		margin: 0 auto;
		padding: 0 2rem;
	}

	.hero-section__img {
		padding: 5.2rem 0 5.5rem 0;
	}

	.hero-section__heading {
		font-size: 2rem;
	}

	.hero-section__text {
		padding: 0 1.5rem;
		font-size: 0.9rem;
		margin-bottom: 4rem;
	}

	.hero-section__buttons {
		width: 80%;
		margin: 0 auto;
		display: flex;
		font-weight: 600;
		justify-content: space-between;
	}

	.hero-section__transbtn {
		padding: 0.8rem 1.5rem;
		width: 55%;
	}

	.hero-section__redbtn {
		width: 45%;
		padding: 0.8rem 0.5rem;
		margin: 0;
	}

	.label {
		width: 60%;
		margin: 9rem auto auto;
		padding-top: 0rem;
	}

	.label h4 {
		font-size: 1rem;
		font-weight: 600;
	}

	.label p {
		padding: 0;
	}

	.cards {
		padding-top: 4rem;
		margin-top: 2rem;
		padding-bottom: 7rem;
		display: flex;
		flex-direction: row;
		margin: 0 auto;
		width: 90%;
		align-items: stretch;
		justify-content: space-between;
		position: relative;
	}

	.right-img,
	.left-img {
		display: block;
		width: 30%;
		height: 65%;
	}

	.right-img {
		position: absolute;
		top: 0;
		right: -3rem;
		z-index: -1;
	}

	.left-img {
		position: absolute;
		top: 0;
		left: -3rem;
		z-index: -1;
	}

	.card-container {
		padding: 5rem 2rem 3rem 1.5rem;
		width: 32%;
		font-weight: 500;
		justify-content:space-between;
		
	}

	.card__text, .card__links {
		text-align: left;
		font-size: 0.9rem;
	}

	footer {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin: 0 auto 0rem auto;
		padding: 3rem 1.5rem 2rem 1.5rem;
		position: relative;
		font-size: 1rem;
		bottom: 2rem;
	}
	.links h2,
	.socials h2,
	.contact h2 {
		font-size: 1rem;
	}
	.contact {
		width: 24%;
	}

	address {
		margin: 0;
		margin-bottom: 0.8rem;
		font-weight: 400;
		text-align: left;
		width: 100%;
	}

	.links {
		width: 5%;
	}

	.socials {
		width: 12%;
		text-align: left;
	}

	.social-icons {
		width: 100%;
	}

	.footer__img {
		width: 12%;
	}
}

/* Desktop */
@media (min-width: 1200px) {
	.container {
		width: 100%;
		margin: 0 auto;
	}

	.hero {
		width: 100%;
		height: 100vh;
	}

	.hero-section {
		width: 80%;
		margin: 0 auto;
		padding: 0 1rem;
	}

	.hero-section__text {
		width: 70%;
		margin: 0 auto 5rem auto;
	}

	.hero-section__buttons {
		display: flex;
		justify-content: space-between;
		width: 50%;
	}

	.hero-section__redbtn {
		width: 45%;
		padding: 0.9rem 1.5rem;
	}

	.hero-section__transbtn {
		width: 45%;
		padding: 0.8rem 1.8rem;
	}

	.label {
		width: 50%;
		margin: 6rem auto 3rem auto;
		padding: 0 4rem;
	}

	.cards {
		padding: 1rem 3.5rem 8rem 3.5rem;
		margin: 0 auto;
		margin-top: 2rem;
		display: flex;
		flex-direction: row;
		width: 90%;
		justify-content: space-between;
		align-items: stretch;
		position: relative;
	}

	.right-img,
	.left-img {
		display: block;
		height: 75%;
		width: 27%;
	}

	.right-img {
		position: absolute;
		top: -3rem;
		right: -4.5rem;
		z-index: -1;
	}

	.left-img {
		position: absolute;
		top: -3rem;
		left: -4.5rem;
		z-index: -1;
	}

	.card-container {
		padding: 4rem 4rem 5rem 2rem;
		width: 29%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}


.card__text {
	font-size: 1rem;
}

	footer {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 85%;
		margin: 0 auto;
		padding-left: 0;
		padding-right: 0;
		margin-top: 5rem;
		padding-top: 0;
		position: relative;
	}

	.socials h2, .contact h2, .links h2 {
		font-size: 1.5rem;
	}

	.contact {
		width: 15%;
	}
}
